form {
  display: flex;
  flex-direction: column;
}

.info-form label {
  display: block;
  margin-bottom: 8px;
  color: var(--Denim, #022959);
  font-feature-settings: "clig" off, "liga" off;
  /* Body (M) */
  font-family: Ubuntu-Regular;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.info-form input {
  border-radius: 8px;
  border: 1px solid var(--Border-Color, #d6d9e6);
  background: var(--White, #fff);
  width: 450px;
  height: 48px;
  margin-bottom: 24px;
  flex-shrink: 0;
  color: var(--Grey, #9699aa);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Ubuntu-Medium;
  font-size: 16px;
  font-style: normal;
  line-height: 25px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 11px;
  /* 156.25% */
}

.last-input input {
  margin-bottom: 0;
}