.confirmation-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.confirmation-page div {
    width: 450px;
    text-align: center;
}

.confirmation-header {
    color: var(--Denim, #022959);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading */
    font-family: Ubuntu-Bold;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 32px;
    margin-bottom: 14px;
}

.confirmation-description {
    color: var(--Grey, #9699AA);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body (L) */
    font-family: Ubuntu-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
    margin: 0;
}