.add-ons {}

.add-ons-form menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 275px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.add-ons-form menu li {
    padding-left: 24px;
    padding-right: 24px;
    width: 450px;
    height: 81px;
    border-radius: 8px;
    border: 1px solid var(--Border-Color, #D6D9E6);
    background: var(--White, #FFF);
}

.input-info {
    width: 200px;
    height: 43px;
    display: flex;
    padding: 2px 1px 0px 0px;
    flex-direction: column;
    gap: 7px;
}

.selected {
    border-radius: 8px;
    border: 1px solid var(--Purple, #483EFF);
    background: var(--Very-Light-Grey, #F8F9FF);
}